@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1178px;
    margin: 0 auto;
    padding: 0 16px;

}

ul li {
    margin: 0px;
    list-style: none;


}

ul li a {
    text-decoration: none;
}



/* header */


header {
    background: linear-gradient(7deg, #1C1B1E 18.87%, rgba(28, 27, 30, 0.66) 51.73%, rgba(28, 27, 30, 0.81) 90.79%);
    height: 100vh;
    max-height: 1100px;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url(./img/background_image.svg);
    background-repeat: no-repeat;
    background-size: cover;

    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
}

nav {
    border-bottom: 2px solid #cac7c7;

}

.logo__navigation__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 92px;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo__wrapper {
    display: flex;
    align-items: center;
    width: 14%;
    justify-content: space-between;
}

.logo__wrapper h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;

}

.navigation__wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76%;
}

.navigation__wraper ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 76%;
}

.navigation__wraper ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

li.activ {
    padding: 5px 15px;
    border-radius: 8px;
    background: #B08E44;
}

.search__language_img-nav {
    display: flex;
    align-items: center;
    width: 20%;
    justify-content: space-between;
}

.search__language_img-nav .search {
    color: #fff;

}

.search__language_img-nav select {
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}

.search__language_img-nav img {
    border-radius: 100%;
    width: 40px;
    height: 40px;

}

.main__wrapper {
    height: calc(100vh - 92px);
    max-height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section__wrapper {
    padding-left: 60px;
    position: relative;
}

.section__wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 320px;
    height: 460px;
    border: 20px solid rgba(176, 142, 68, 0.70);
    border-right: 0;
    transform: translateY(-50%);

}

.section__wrapper::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 320px;
    width: 20px;
    height: 461px;
    background: linear-gradient(rgba(176, 142, 68, 0.70) 10%, transparent 10% 90%, rgba(176, 142, 68, 0.70) 90% 10%);

    transform: translateY(-50%);
}


.section__wrapper h1 {
    width: 741px;
    color: #FFF;
    font-size: 54px;
    font-weight: 550;
    letter-spacing: 2px;
}

.section__wrapper p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    width: 660px;
    letter-spacing: 1px;
    padding: 47px 0px 60px 0px;

}


.section__wrapper button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
}

/* main section */

/* about */
.main-section {
    background: #1C1B1E;
}


.about-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 240px;
}

.about-wrapper::after {

    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 120px;
    left: 0px;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.about__title h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
    max-width: 513px;
}

.about__title p {
    color: #C1C1C1;
    font-size: 18px;
    font-weight: 400;
    margin-top: 41px;
    margin-bottom: 57px;
    max-width: 558px;
}

.about__title .user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.about__title .user h4 {
    color: #B08E44;
    font-size: 20px;
    font-weight: 400;
}


.about__img {
    position: relative;
    z-index: 2;

}

.about__img::after {
    position: absolute;
    content: "";
    width: 275px;
    height: 252px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    left: -40px;
    top: -40px;
    z-index: 1;
}

.about__img::before {
    position: absolute;
    content: "";
    width: 275px;
    height: 252px;
    background: rgba(176, 142, 68, 0.70);
    right: -20px;
    bottom: -20px;
    z-index: 1;
}

/* numbers */

.numbers-wrapper {
    position: relative;
    padding-top: 200px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.numbers-wrapper::after {

    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 80px;
    left: 50%;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.numbers__title {
    text-align: center;
}

.numbers__title h2 {
    max-width: 570px;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0 auto;

}

.numbers__title p {
    color: #fff;
    max-width: 650px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto 100px auto;


}

.numbers-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.numbers-list li {
    padding: 22px 33px;
    width: 220px;

    border-radius: 6px;
    background: #232323;
    box-shadow: 5px 5px 4px 0px rgba(44, 44, 44, 0.30);

}

.numbers-list li h3 {
    color: #B08E44;
    font-size: 36px;
    font-weight: 400;
    border-bottom: 1px solid #B08E44;
    text-align: center;
}

.numbers-list li p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    text-align: center;
}


/* news */

.news-wrapper {
    position: relative;

    padding-top: 240px;
}

.news-wrapper::after {

    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 120px;
    left: 0px;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.news__title {
    display: flex;
    align-items: center;
    gap: 137px;
}

.news__title h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
}

.news__title p {
    color: #C1C1C1;
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
}

.news__list {
    padding-top: 60px;
}

.news__list ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__list ul li {
    max-width: 362px;
    background: rgba(241, 240, 240, 1);
}

.news__about {
    padding: 20px;
}

.news__about h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    color: #000;
}

.news__about p {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    padding: 20px 0px;
}

.news__about .date__and__count {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: -20px;
}

.date__and__count .date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.date__and__count span {
    color: #999;
    font-size: 12px;
    font-weight: 600;
    font-family: Nunito;
}

.date__and__count i {
    width: 20px;
    height: 20px;
    color: rgba(153, 153, 153, 1);
}

.date__and__count .count {
    display: flex;
    align-items: center;
    gap: 5px;
}

.news__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__info button {
    border: none;
    border-radius: 8px;
    background: #1C1B1E;
    width: 120px;
    height: 30px;
    text-align: center;
    color: #fff;
    margin: 20px auto 0px auto;
}

.all__news__btn {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.all__news__btn button {
    padding: 15px 25px;
    border-radius: 8px;
    background: #B08E44;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}


/* questions */

.question__section {
    position: relative;
    background-image: url(./img/question-background-img.svg);
    background-repeat: no-repeat;
    background-size: cover;


}

.question__section::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1C1B1E 10.15%, rgba(28, 27, 30, 0.42) 70.66%, #1C1B1E 85.71%);
    ;
}

.question-wrapper {
    position: relative;
    padding-top: 200px;
    max-width: 1092px;
    margin: 0px auto;

}

.question-wrapper::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 80px;
    left: 48%;
    text-align: center;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.question__title h2 {
    text-align: center;
    font-family: "Cantata One";
    color: #FFF;
    font-size: 48px;
    font-weight: 400;

}

.question__btn {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question__btn button {
    border: none;
    padding: 9px 27px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.question__btn button:nth-child(1) {
    border-radius: 8px;
    background: #B08E44;
    position: absolute;
    right: 90px;
}

.question__btn button:nth-child(2) {
    border-radius: 0 8px 8px 0;
}

.question__list {
    margin-top: 20px;

}

.question__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 10px;
    border: 0.2px solid #FFF;
    background: #1C1B1E;
    margin-bottom: 20px;
}

.date___time p {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.answers {
    margin: 0px 40px 0px 23px;

}

.answers button {
    padding: 4px 20px;
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background: #B08E44;
}

.question h3 {
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    max-width: 640px;
}

.question p {
    color: #CDCDCD;
    font-size: 12px;
    font-weight: 400;
    max-width: 640px;
}

.star__cost {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.star__cost .star i {
    color: yellow;
    width: 16px;
    height: 16px;
}

.star__cost .cost p {
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background: #B08E44;
    padding: 4px 12px;
}

.all__questions__btn {
    border-radius: 8px;
    background: #B08E44;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    margin: 0px auto;
}

.all__questions__btn button {
    color: #FFF;
    font-family: Cantata One;
    font-size: 24px;
    background: none;
    font-weight: 400;
    padding: 9px 0px;
    border: none;
}

/* service */

.service__wrapper {
    position: relative;
    padding-top: 200px;
    max-width: 1092px;
    height: 1000px;
    margin: 0px auto;

}

.service__wrapper::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 80px;
    left: 48%;
    text-align: center;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.service__title h2 {
    color: #FFF;
    font-family: Cantata One;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    z-index: 3;
}

.service__title p {
    text-align: center;
    max-width: 700px;
    margin: 30px auto 20px auto;
    color: #C1C1C1;
    font-size: 18px;
    font-weight: 400;
    z-index: 3;
}

.service__wrapper ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    gap: 125px;

}

.service__wrapper ul li p {
    margin-top: 16px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.question-message {
    position: relative;
    z-index: 2;
    fill: #FFF;
    padding: 40px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.50) inset, -5px -5px 20px 0px rgba(0, 0, 0, 0.50) inset;

}

.question-message::before {
    position: absolute;
    content: "";
    width: 349px;
    height: 503px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    left: -143px;
    top: -172px;
    z-index: -1;
    opacity: 0.3;
}

.inbox {
    position: relative;
    z-index: 2;
    fill: #FFF;
    padding: 40px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.50) inset, -5px -5px 20px 0px rgba(0, 0, 0, 0.50) inset;
}

.inbox::before {
    position: absolute;
    content: "";
    width: 349px;
    height: 503px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    top: -43px;
    left: -89px;
    opacity: 0.3;
}

.subway_like {
    position: relative;
    z-index: 2;
    fill: #FFF;
    padding: 40px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.50) inset, -5px -5px 20px 0px rgba(0, 0, 0, 0.50) inset;
}

.subway_like::before {
    position: absolute;
    content: "";
    width: 349px;
    height: 503px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    left: -35px;
    top: -172px;
    opacity: 0.3;
}

.service__wrapper ul li p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.line__middle {
    width: 836px;
    height: 3px;
    background: #FFF;
    text-align: center;
    margin: -130px auto;
}