@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1178px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

ul li {
    margin: 0px;
    list-style: none;
}

ul li a {
    text-decoration: none;
}



/* header */

header {
    height: 100vh;
    max-height: 1600px;
    min-height: 700px;
    background: url(./img//background_image.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(6deg, #1C1B1E 18.87%, rgba(28, 27, 30, 0.66) 51.73%, rgba(28, 27, 30, 0.81) 90.79%);
}

.navbar {
    height: 92px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
    z-index: 1;

}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-wrapper .navbar-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-lists ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-lists ul li,
.navbar-lists ul li a {
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.navbar-lists ul li:not(:first-child),
header button.question,
header button.search,
header select,
header .profile {
    margin-left: 24px;
}

header button.question {
    border-radius: 8px;
    background: #B08E44;
    width: 120px;
    height: 30px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

header button.search {
    font-size: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
}

header .navbar-lists .lang select {
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;

}

header .navbar-lists .lang select option {
    color: blue;
}


header .navbar-lists .profile {
    background: none;
    border: none;
}

header .navbar-lists .profile img {
    border-radius: 100%;
    background: none;
    width: 100%;
    height: 100%;
}


.logo h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    font-family: Cantata One;
}



.main__wrapper {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section__wrapper {
    padding-left: 60px;
    position: relative;
}

.section__wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 320px;
    height: 460px;
    border: 20px solid rgba(176, 142, 68, 0.70);
    border-right: 0;
    transform: translateY(-50%);

}

.section__wrapper::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 320px;
    width: 20px;
    height: 461px;
    background: linear-gradient(rgba(176, 142, 68, 0.70) 10%, transparent 10% 90%, rgba(176, 142, 68, 0.70) 90% 10%);

    transform: translateY(-50%);
}


.section__wrapper h1 {
    width: 741px;
    color: #FFF;
    font-size: 54px;
    font-weight: 550;
    letter-spacing: 2px;
}

.section__wrapper p {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    width: 660px;
    letter-spacing: 1px;
    padding: 47px 0px 60px 0px;

}


.section__wrapper button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
}

/* main section */

/* about */
.main-section {
    background: #1C1B1E;
    padding-bottom: 10px;
}


.about-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 240px;
}

.about-wrapper::after {

    content: "";
    position: absolute;
    max-width: 54px;
    max-width: 72px;
    color: #B08E44;
    top: 120px;
    left: 0px;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.about__title h3 {
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
    max-width: 513px;
}

.about__title p {
    color: #C1C1C1;
    font-size: 18px;
    font-weight: 400;
    margin-top: 41px;
    margin-bottom: 57px;
    max-width: 558px;
}

.about__title .user {
    display: flex;
    align-items: center;
    gap: 16px;
}

.about__title .user h4 {
    color: #B08E44;
    font-size: 20px;
    font-weight: 400;
}


.about__img {
    position: relative;
    z-index: 2;

}

.about__img::after {
    position: absolute;
    content: "";
    width: 275px;
    height: 252px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    left: -40px;
    top: -40px;
    z-index: 1;
}

/* .about__img::before {
    position: absolute;
    content: "";
    width: 275px;
    height: 252px;
    background: rgba(176, 142, 68, 0.70);
    right: -20px;
    bottom: -20px;
    z-index: 1;
} */

/* numbers */

.numbers-wrapper {
    position: relative;
    padding-top: 200px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.numbers-wrapper::after {

    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 80px;
    left: 50%;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.numbers__title {
    text-align: center;
}

.numbers__title h2 {
    max-width: 570px;
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin: 0 auto;

}

.numbers__title p {
    color: #fff;
    max-width: 650px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 40px auto 100px auto;


}

.numbers-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;

}

.numbers-list li {
    padding: 22px 33px;
    width: 220px;

    border-radius: 6px;
    background: #232323;
    box-shadow: 5px 5px 4px 0px rgba(44, 44, 44, 0.30);

}

.numbers-list li h3 {
    color: #B08E44;
    font-size: 36px;
    font-weight: 400;
    border-bottom: 1px solid #B08E44;
    text-align: center;
}

.numbers-list li p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    text-align: center;
}


/* news */

.news-wrapper {
    position: relative;

    padding-top: 240px;
}

.news-wrapper::after {

    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 120px;
    left: 0px;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.news__title {
    display: flex;
    align-items: center;
    gap: 137px;
}

.news__title h2 {
    color: #FFF;
    font-size: 40px;
    font-weight: 400;
}

.news__title p {
    color: #C1C1C1;
    font-size: 18px;
    font-weight: 400;
    max-width: 700px;
}

.news__list {
    padding-top: 60px;
}

.news__list ul {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 25px;
}

.news__list ul li {
    width: 100%;
    background: rgba(241, 240, 240, 1);
}

.news__about {
    padding: 20px;
}

.news__info img {
    width: 100%;
}

.news__about h3 {
    font-size: 13px;
    font-weight: 600;
    line-height: 22px;
    color: #000;
}

.news__about p {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    padding: 20px 0px;
}

.news__about .date__and__count {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-top: -20px;
}

.date__and__count .date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.date__and__count span {
    color: #999;
    font-size: 12px;
    font-weight: 600;
    font-family: Nunito;
}

.date__and__count i {
    width: 20px;
    height: 20px;
    color: rgba(153, 153, 153, 1);
}

.date__and__count .count {
    display: flex;
    align-items: center;
    gap: 5px;
}

.news__btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news__info button {
    border: none;
    border-radius: 8px;
    background: #1C1B1E;
    width: 120px;
    height: 30px;
    text-align: center;
    color: #fff;
    margin: 20px auto 0px auto;
}

.all__news__btn {
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
}

.all__news__btn button {
    padding: 15px 25px;
    border-radius: 8px;
    background: #B08E44;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}


/* questions */

.question__section {
    position: relative;
    background-image: url(./img/question-background-img.svg);
    background-repeat: no-repeat;
    background-size: cover;


}

.question__section::before {
    position: absolute;
    content: "";

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1C1B1E 10.15%, rgba(28, 27, 30, 0.42) 70.66%, #1C1B1E 85.71%);
    ;
}

.question-wrapper {
    position: relative;
    padding-top: 200px;
    max-width: 1092px;
    margin: 0px auto;

}

.question-wrapper::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 80px;
    left: 48%;
    text-align: center;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.question__title h2 {
    text-align: center;
    font-family: "Cantata One";
    color: #FFF;
    font-size: 48px;
    font-weight: 400;

}

.question__btn {
    margin-top: 21px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.question__btn button {
    border: none;
    padding: 9px 27px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.question__btn button:nth-child(1) {
    border-radius: 8px;
    background: #B08E44;
    position: absolute;
    right: 90px;
}

.question__btn button:nth-child(2) {
    border-radius: 0 8px 8px 0;
}

.question__list {
    margin-top: 20px;

}

.question__list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 10px;
    border: 0.2px solid #FFF;
    background: #1C1B1E;
    margin-bottom: 20px;
}

.date___time p {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.answers {
    margin: 0px 40px 0px 23px;

}

.answers button {
    padding: 4px 20px;
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background: #B08E44;
}



.question p {
    color: #CDCDCD;
    font-size: 12px;
    font-weight: 400;
    max-width: 640px;
}

.star__cost {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.star__cost .star i {
    color: yellow;
    width: 16px;
    height: 16px;
}

.star__cost .cost p {
    color: #FFF;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    border-radius: 4px;
    background: #B08E44;
    padding: 4px 12px;
}

.all__questions__btn {
    border-radius: 8px;
    background: #B08E44;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50px;
    margin: 0px auto;
}

.all__questions__btn button {
    color: #FFF;
    font-family: Cantata One;
    font-size: 24px;
    background: none;
    font-weight: 400;
    padding: 9px 0px;
    border: none;
}

/* service */

.service__wrapper {
    position: relative;
    padding-top: 200px;
    max-width: 1092px;
    height: 1000px;
    margin: 0px auto;

}

.service__wrapper::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 72px;
    color: #B08E44;
    top: 80px;
    left: 48%;
    text-align: center;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.service__title h2 {
    color: #FFF;
    font-family: Cantata One;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    z-index: 3;
}

.service__title p {
    text-align: center;
    max-width: 700px;
    margin: 30px auto 20px auto;
    color: #C1C1C1;
    font-size: 18px;
    font-weight: 400;
    z-index: 3;
}

.service__wrapper ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    gap: 125px;

}

.service__wrapper ul li p {
    margin-top: 16px;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}


.question-message {
    /* width: 90px;
    height: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    fill: #FFF;
    padding: 40px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.50) inset, -5px -5px 20px 0px rgba(0, 0, 0, 0.50) inset;
    text-align: center;
}

/* .question-message::before {
    position: absolute;
    content: "";
    width: 349px;
    height: 503px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    left: -143px;
    top: -172px;
    z-index: -1;
    opacity: 0.3;
} */

.inbox {
    /* width: 90px;
    height: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    fill: #FFF;
    padding: 40px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.50) inset, -5px -5px 20px 0px rgba(0, 0, 0, 0.50) inset;
}

/* .inbox::before {
    position: absolute;
    content: "";
    width: 349px;
    height: 503px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    top: -43px;
    left: -89px;
    opacity: 0.3;
} */

.subway_like {
    /* width: 90px;
    height: 90px; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    fill: #FFF;
    padding: 40px;
    background-color: #FFF;
    border-radius: 100%;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.50) inset, -5px -5px 20px 0px rgba(0, 0, 0, 0.50) inset;
}

/* .subway_like::before {
    position: absolute;
    content: "";
    width: 349px;
    height: 503px;
    border: 10px solid rgba(176, 142, 68, 0.70);
    color: rgba(176, 142, 68, 0.7);
    left: -35px;
    top: -172px;
    opacity: 0.3;
} */

.service__wrapper ul li p {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
}

.line__middle {
    width: 836px;
    height: 3px;
    background: #FFF;
    text-align: center;
    margin: -130px auto;
}


/* lawyers */


.lawyers__section {
    padding: 60px 0;
    position: relative;
    overflow: hidden;
}

.lawyers__section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
    background-image: url(./img/lawyers-bg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.lawyers__section::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #1C1B1E 5.89%, rgba(0, 0, 0, 0.65) 74.07%);
    clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
}

.lawyers__wrapper {
    position: relative;
    flex-shrink: 0;
    z-index: 2;
}

.lawyers__wrapper::after {
    content: "";
    position: absolute;
    width: 54px;
    height: 100px;
    color: #B08E44;
    top: -13px;
    left: 95%;
    text-align: center;
    background: url(./img/vertical-line.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.lawyers__title {
    display: flex;
    align-items: center;
    justify-content: start;

}

.lawyers__title p {
    max-width: 700px;
    color: #C1C1C1;
    font-size: 18px;
    font-weight: 400;
}

.lawyers__title h2 {
    color: #fff;
    font-size: 48px;
    font-weight: 400;
}

.lawyers__about {
    width: 264px;
    height: 333px;
    border-radius: 8px;
    background: #F1F0F0;
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;

}

.lawyers__about h3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.lawyers__about span {
    color: #999;
    font-size: 12px;
    font-weight: 400;
}

.lawyers__about h4 {
    color: #000;
    font-size: 12px;
    font-weight: 600;

}

.lawyers__about h4 span {
    color: #000;
    font-size: 12px;
    font-weight: 400;
}

.lawyers__about p {
    gap: 5px;
    color: #000;
    font-size: 12px;
    font-weight: 400;
}


.lawyers__about p span {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.lawyers__about p i {
    color: yellow;
}

.lawyers__about h3 {
    color: #000;
    font-size: 12px;
    font-weight: 600;
}

.lawyers__about h3 span {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    padding: 4px;
    color: #FFF;
    font-size: 12px;
    font-size: 600;
    border-radius: 2px;
    background: #1C1B1E;
}

.lawyers__wrapper .lawyers__info {
    margin-top: 82px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, auto);
}

.scrol__btns {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 30px;
}

.scrol__btns button {
    width: 36px;
    height: 36px;
    background-color: rgba(176, 142, 68, 1);
    cursor: pointer;
}

/* service__type */

.service__type--section {
    max-height: 10000px;
    background-color: #1C1B1E;
}

.service__type__wrapper {
    position: relative;
    padding-top: 240px;

}

.service__type__wrapper::after {
    content: "";
    position: absolute;
    background: url(./img/vertical-line.svg);
    color: #B08E44;
    text-align: center;
    width: 54px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 47%;
    top: 80px;
}

.service__type__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 47px;

}

.service__type__title h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 400;
    max-width: 544px;
}

.service__type__title p {
    max-width: 700px;
    font-size: 18px;
    font-weight: 400;
    color: #C1C1C1;
    text-align: center;
}

.service__type__wrapper ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 81px;
    gap: 30px;

}

.service__type__wrapper ul li {

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    max-width: 264px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.30);
    margin-bottom: 20px;
    height: 230px;

}

.service__type__wrapper ul li p {
    padding-top: 15px;
    padding-bottom: 20px;
    width: 140px;
    color: #1C1B1E;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


/* boshqa hizmatlar */

.other__services__wrapper {
    padding-top: 70px;
    padding-bottom: 100px;
}

.other__services--title h2 {
    max-width: 428px;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.other__services--title p {
    margin-top: 19px;
    max-width: 700px;
    color: #c4c4c4;
    font-size: 15px;
    font-weight: 400;

}

.other__services__about {
    display: flex;
    flex-direction: column;
}

.phone__consultation__icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    gap: 55px;

}

.phone__consultation {
    border-radius: 10px;
    background: #FFF;
    width: 517px;
    z-index: 2;
    padding: 14px 14px 14px 35px;

}

.phone__consultation h3 {
    font-size: 30px;
    font-weight: 400;
    color: #1C1B1E;

}

.phone__consultation p {

    margin-top: 14px;
    max-width: 436px;
    color: #3d3d3d;
    font-size: 15px;
    font-weight: 400;
}

.cost__btn {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 19px;

}

.cost__btn p {
    margin-top: 0px;
    padding: 8px 16px;
    color: #B08E44;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    border: 3px solid #B08E44;
}

.cost__btn button {
    padding: 11px 22px;
    background: #B08E44;
    border-radius: 8px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;

}

.icon {
    position: relative;
}

.icon img {
    width: 144px;
    height: 144px;
}

.icon::before {
    content: "";
    position: absolute;
    border: 10px solid rgba(176, 142, 68, 0.10);
    width: 356px;
    height: 234px;
    margin: -52px 74px 52px -138px;
    z-index: 1;

}

.phone__consultation__icon .tarozi {
    margin-left: 4%;
    margin-top: -11%;
}

.document__order {
    margin-left: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.document__order .icon::before {
    margin: -52px 138px 52px -74px;
}

/* answers */
.answers-questions__wrapper {
    padding-bottom: 100px;
}

.answers-questions__title {
    position: relative;
    margin-left: 80px;
}

.answers-questions__title h2 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    font-family: Cantata One;
}

.answers-questions__title p {
    margin-top: 16px;
    color: #c4c4c4;
    font-size: 15px;
    font-weight: 400;
    font-family: Cantata One;
}

.answers-questions__title ::before {
    content: "";
    position: absolute;
    background: url(./img/vertical-line.svg);
    color: #B08E44;
    text-align: center;
    width: 54px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: -80px;
    top: -12px;
}


.table {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

form input {
    border: none;
    width: 398px;
    border-radius: 8px;
    background: rgba(241, 240, 240, 0.30);
    padding: 12px 30px;

}

form input::placeholder {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.question__info {
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 25px 20px;
    gap: 40px;
    width: 633px;

    border-radius: 8px;
    background: rgba(241, 240, 240, 0.30);
}

.question h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.question p {
    margin-top: 8px;
    color: #c1c1c1;
    font-size: 12px;
    font-weight: 400;
}

.question h2 {
    margin-top: 17px;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
}

.message textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    width: 91%;
    border-radius: 8px;
    background: rgba(241, 240, 240, 0.30);
    border: none;
    color: #fff;

    padding: 12px 20px;
}

.questions__btn button {
    margin-left: 45px;
    padding: 14px 44px;
    border-radius: 8px;
    background: #B08E44;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

/* footer */

footer {
    background: linear-gradient(0deg, #000 100%, rgba(0, 0, 0, 0.00) 100%);
}

.footer__wrapper {
    padding: 120px 0px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo__network p {
    margin-top: 30px;
    max-width: 267px;
    color: #c1c1c1;
    font-size: 13px;
    font-weight: 400;
}

.networks {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 76px;
}


.working__days h2 {
    font-size: 20px;
    font-weight: 400;
    color: #FFF;
}

.working__days ul {
    margin-top: 32px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.working__days ul li {
    max-width: 295px;
    color: #C1C1C1;
    font-size: 15px;
    font-weight: 400;

}

.adres h2 {
    font-size: 20px;
    color: #B08E44;
    font-weight: 400;
}

.adres p {
    margin-top: 32px;
    margin-bottom: -12px;
    max-width: 220px;
    font-size: 15px;
    color: #c1c1c1;
}




/*  1100px Responsive */


@media screen and (max-width:1100px) {

    .navbar-lists ul li,
    .navbar-lists ul li a {
        font-size: 14px;
    }

    .navbar-lists ul li:not(:first-child),
    header button.question,
    header button.search,
    header select,
    header .profile {
        margin-left: 20px;
    }

    header button.question {
        font-size: 15px;
    }

    header button .search {
        font-weight: 800;
    }

    /* main qismidan about qismi */
    .about-wrapper {
        padding-top: 200px;
    }

    .about__title h3 {
        font-size: 35px;
    }

    .about__title p {
        font-size: 15px;
        margin: 35px 0px 50px 0px;
        max-width: 500px;
    }

    .user img {
        width: 67px;
        height: 67px;
    }

    .about__title .user h4 {
        font-size: 16px;
    }

    .about__img img {
        width: 400px;
        height: 500px;
        margin-right: 35px;
    }

    /* .about__img::before {

        width: 246px;
        height: 242px;
        right: 12px;
        bottom: -8px;
    } */

    /* numbers */

    .numbers__title h2 {
        font-size: 35px;
    }

    .numbers__title p {
        font-size: 15px;
    }

    .numbers-list li h3 {
        font-size: 30px;
    }

    .numbers-list li p {
        font-size: 12px;
    }

    /* news */

    .news__title h2 {
        font-size: 35px;
    }

    .news__title p {
        font-size: 15px;
        max-width: 600px;
    }


    .news__info button {
        font-size: 14px;
        width: 100px;
        height: 25px;
    }

    .all__news__btn button {
        padding: 10px 20px;
        font-size: 16px;
    }

    /* question__section */
    .question__title h2 {
        font-size: 43px;
    }

    .question__btn button {
        font-size: 16px;
        padding: 7px 25px;
    }

    .date___time p {
        font-size: 15px;
    }

    .answers button {
        font-size: 13px;
        padding: 4px 15px;
    }

    .question h3 {
        color: #FFF;
        font-size: 15px;
        font-weight: 600;
        max-width: 640px;
    }

    .all__questions__btn {
        max-width: 500px;
    }

    .all__questions__btn button {
        font-size: 20px;
    }

    /* service */
    .service__title h2 {
        font-size: 43px;
    }

    .service__title p {
        max-width: 600px;
        font-size: 15px;
    }



    .question-message::before {
        width: 300px;
        height: 450px;
        left: -50px;
        top: -147px;
    }

    .inbox::before {
        width: 300px;
        height: 450px;
        top: -43px;
        left: -63px;

    }

    .subway_like::before {
        width: 300px;
        height: 450px;
        left: -101px;
        top: -147px;
    }

    /* .question-message {
        width: 150px;
        height: 150px;
    }
     */

    .question-message p {
        font-size: 17px;
    }

    /* lawyers */
    .lawyers__title {
        gap: 25px;
    }

    .lawyers__title h2 {
        font-size: 43px;
    }

    .lawyers__title p {
        font-size: 15px;
        max-width: 600px;
    }

    .lawyers__about {
        max-width: 242px;
    }

    .lawyers__wrapper .lawyers__info {
        grid-template-columns: repeat(3, auto);
        text-align: center;
    }

    lawyers__info li {
        max-width: 300px;
        gap: 45px;
    }

    .lawyers__img img {
        width: 242px;
    }


    /* service type */

    .service__type__title h2 {
        font-size: 43px;
    }

    .service__type__title p {
        font-size: 15px;
        max-width: 600px;
    }

    .service__type img {
        width: 200;
    }


    /* other__services--section */
    .other__services--title h2 {
        font-size: 27px;
    }

    .phone__consultation h3 {
        font-size: 25px;
    }



    .message textarea {
        width: 100%;
    }

    /* footer */
    .working__days h2 {
        font-size: 18px;
    }

    .adres h2 {
        font-size: 18px;
    }


}

/* 992px Respnsive */

@media screen and (max-width:992px) {
    /* navigition */

    .logo h2 {
        font-size: 20px;
    }

    .navbar-lists ul li,
    .navbar-lists ul li a {
        font-size: 13px;
    }

    header button.question {
        font-size: 14px;
    }

    header button.question {
        width: 110px;
        height: 25px;

    }

    header button .search {
        font-weight: 700;
    }

    header .navbar-lists .lang select {
        font-size: 15px;
    }

    /* about */
    .about-wrapper {
        gap: 20px;
    }


    /* question */
    .question p {
        max-width: 528px;
    }

    .questions__btn button {
        margin-left: 0px;
    }

    .answers {
        padding: 10px;
        margin: 0px;
    }

    .answers button {
        font-size: 13px;
        padding: 4px 9px;
    }

    .question-wrapper .question {
        padding: 3px;
    }

    /* other__services__about */

    .phone__consultation__icon {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0px;
    }

    .document__order {
        margin-left: 0px;
    }

    .phone__consultation__icon .tarozi {
        display: none;
    }

    .icon::before {
        display: none;
    }

    .news__list ul {
        grid-template-columns: repeat(2, auto);
    }
}

/* 935px Responsive */

@media screen and (max-width:935px) {
    /* navigition */

    .navbar {
        height: 75px;
    }

    .navbar-wrapper .logo img {
        width: 40px;
        height: 45px;
    }

    .logo h2 {
        font-size: 18px;
    }

    .navbar-lists ul li,
    .navbar-lists ul li a {
        font-size: 12px;
    }

    header button.question {
        font-size: 13px;
        width: 100px;
        height: 24px;
    }

    header button .search {
        width: 18px;
        height: 18px;
    }

    header .navbar-lists .lang select {
        font-size: 15px;
    }

    header .navbar-lists .profile img {
        width: 35px;
        height: 35px;
    }

    .navbar-lists ul li:not(:first-child),
    header button.question,
    header button.search,
    header select,
    header .profile {
        margin-left: 17px;
    }

    .section__wrapper h1 {
        font-size: 50px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .answers {
        padding: 10px;
        margin: 0px;
    }

    .answers button {
        font-size: 13px;
        padding: 4px 9px;
    }

    .question-wrapper .question {
        padding: 3px;
    }

    .table {
        align-items: start;
    }

    .question__info {
        flex-direction: column;
        gap: 10px;
    }

    .service__wrapper{
        height: 700px;
    }
    .footer__wrapper{
        padding: 75px 0px;
    }


}

@media screen and (max-width:910px) {

    /* about */

    .about__title h3 {
        font-size: 34px;
    }

    .about-wrapper {
        padding-top: 150px;
    }

    .about__img::after {
        content: "";
        width: 240px !important;
        height: 250px !important;

        left: -30px;
        top: -30px;
        z-index: 1;
    }

    .line__middle {
        width: 500px;
    }

    .question__list li {
        padding: 15px 20px;
    }

    .numbers__title h2 {
        font-size: 30px;
    }

    .numbers-list li {
        height: 135px;
    }

    .news__title h2 {
        font-size: 30px;
    }

    .question__title h2 {
        font-size: 35px;
    }

    .question__btn button {
        font-size: 14px;
    }

    .question__btn button:nth-child(1) {
        right: 75px;
    }

    .service__title h2 {
        font-size: 35px;
    }

    .service__wrapper ul li p {
        font-size: 20px;
    }

    /* .service__wrapper ul li img {
        width: 70px;
        height: 70px;
    } */

    .lawyers__wrapper::after {
        left: 90%;
        top: -25px;

    }

    .lawyers__title h2 {
        font-size: 30px;
    }

    .service__type__title h2 {
        font-size: 30px;
    }

    .service__type__wrapper ul {
        gap: 0px;
    }

    .service__type__wrapper ul li p {
        font-size: 16px;
    }

    .phone__consultation h3 {
        font-size: 23px;
    }

    .cost__btn p {
            
            font-size: 18px;
            padding: 5px 13px;
    }
    .cost__btn button{
        font-size: 18px;
        padding: 8px 16px;
    }
    .question h2{
        font-size: 18px;
    }

    .question__info{
        gap: 10px;
    }

    }


    @media screen and (max-width:874px) {



        .question p{
            max-width: 450px;
        }

        .lawyers__title{
            justify-content: center;
        }
        .lawyers__title p{
            max-width: 400px;
        }
        /* .service__type__wrapper ul{
            justify-content: center;
            align-items: center;
            gap: 15px;
        } */
        .service__type__wrapper ul li{
            max-width: 250px;
        }
        .service__type img{
            width: 250px;
        }
    }

    @media screen and (max-width:830px){
        .navbar-wrapper .logo img{
            width: 35px;
            height: 40px;
        }
        .logo h2{
            font-size: 16px;
        }
        .navbar-lists ul li, .navbar-lists ul li a{
            font-size: 10px;
        }
        header button.question{
            font-size: 11px;
            width: 85px;
            height: 20px;
        }
        header button .search{
            width: 10px;
            height: 10px;
        }
        header .navbar-lists .lang select{
            font-size: 13px;
        }
        header .navbar-lists .profile img{
            width: 25px;
            height: 25px;
        }
        .section__wrapper h1{
            font-size: 40px;
        }
        .section__wrapper p{
            padding: 40px 0px 50px 0px;
        }
        .about__title p{
            max-width: 300px;
            margin: 0px;
            padding: 30px 0px 40px 0px;
        }
    }

    @media screen and (max-width:820px){
        .lawyers__wrapper .lawyers__info{
            grid-template-columns: repeat(2 ,auto);
            justify-content: center;

        }

    }
    @media screen and (max-width:797px){
        .question h3{
            max-width: 350px;
        }
        .question p{
            max-width: 350px;
        }
        .service__wrapper ul{
            gap: 20px;
        }
        .numbers-list li{
            padding: 11px 22px;
            text-align: center;
            width: 125px;
            gap: 0px;
        }
        .numbers-list{
            justify-content: space-evenly;
            gap: 0px;
        }
        .numbers-list li h3{
            font-size: 25px;

        }
    }

    @media screen and (max-width:575px) {
        .news__list ul {
            grid-template-columns: repeat(1, auto);
        }
    }